/*
E37B40 = orange-ish
46B29D = turques 
DE5B49 = soft red
324D5C = dim blue
F0CA4D = mellow yellow
*/

html > body{
	background-color: #324D5C;
	color: #EDF0F2;
	font-family: 'PT Sans Narrow', sans-serif;
}

.navbar{
	background-color: #E37B40;
	width: 80%;
	margin: 1% auto;
	border-radius: 5px;
	text-transform: uppercase;
}
#brand{
	color: #000;
	font-weight: bold;
	font-family: 'Gugi', cursive;
}
nav .dropdown-menu{
	background-color: #E37B40;
}
#dropdownMenu{
	color: lightgrey;
}
#dropdownMenu:hover{
	background-color: #F0CA4D;
	color: #FFF;
	font-weight: bold;
}
.dropdown-item:active{
	font-weight: bold;
}

.alert{
	width: 60%;
	margin: 1% auto;
}
.list{
	text-indent: 2%;
	font-size: 80%;
}

h1{
	margin-top: 2em !important;
	text-align: center;
	font-family: 'Gugi', cursive !important;
	text-transform: uppercase;
}

section{
	width: 80%;
	margin: 1% auto;
}
h6{
	margin-top: 2em !important;
	text-align: center;
	font-family: 'Gugi', cursive !important;
	text-transform: uppercase;
}
.main{
	margin-top: 3em;
}

			/* To get rid of the '!important' tags use all of th id's this is quicker here */
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #F0CA4D !important;
    background-color: transparent !important;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
}

.custom-file-input{
	background-color: #DE5B49;
}
			/* To get rid of the '!important' tags use all of th id's this is quicker here */
form {
  width: 900px !important;
  margin: 0 auto !important;
}
			/* To get rid of the '!important' tags use all of th id's this is quicker here */
input, select, option, textarea{
	background-color: #EDF0F2 !important;
}
#gridCheck{
	margin-left: .1%;
}
#checkLabel{
	margin-left: 7%;
}
#checkLabel:hover{
	color: #DE5B49;
}
.passLink{
	margin-left: 0;
	color: #DE5B49;
}
.passLink:hover{
	color: #9A1705;
	text-decoration: none;
}
#formButton{
	margin-left: 2.5%;
	margin-right: 2.5%;
}

hr{
	background-color: #EDF0F2;
	margin: 2em auto;
	width: 90%;
}
.ticketDivide{
	width: 60%;
}

td > a{
	color: #DE5B49;
}
td > a:hover{
	color: #9A1705;
	text-decoration: none;
}
#archive{
	margin-bottom: 1%;
	float: left;
}
#ticket{
	margin-bottom: 1%;
	float: right;
}
			/* to achieve consistant look '!important' used */
#nav-tickets{
	width: 900px !important;
	margin: 0 auto !important;
}

			/* to achieve consistant look '!important' used */
#nav-notes{
  width: 900px !important;
  margin: 0 auto !important;
}
.identifier{
	margin-right: 2%;
}
#note{
	margin: 1.5%;
}
#noteSave{
	margin-left: 1em;
	margin-top: 1em;
	height: 2.5em;
}
input{
	border-radius: 5px !important;
}
textarea{
	border-radius: 5px !important;
}

.custom-file{
  width: 900px !important;
  margin: 0 auto !important;
}

.ticketAdd{
	width: 1000px;
	margin: 3em 11em;
}
#priority{
	margin: 0 1em;
}
#type{
	margin: 0 1em;
}
#formButton{
	margin-left: 1%;
	margin-right: 1;
}

#newTicket{
	margin-top: 2em;
	margin-left: 60em;
}
#table{
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
#hardDelete{
	margin-top: 1em;
}



